@import "../variables";

.admin-banners {
  //&__form {
  //  margin-top: 35px;
  //}

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    //label {
    //  margin-bottom: 10px;
    //}
  }

  &__text {
    font-size: 16px;
    padding: 10px;
    resize: none;
    height: 400px;
    background: transparent;
  }

  &__btn {
    padding: 10px 40px;
    background: #14c26b;
    border: none;
    color: $white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
  }
}