@import "./header";
@import "./footer";
@import "./login";
@import "./register";
@import "./adminPractice";
@import "./modal";
@import "./challengeCard";
@import "./adminTeams";
@import "./table";
@import "./categoryFilter";
@import "./practice";
@import "./scoreBoard";
@import "./adminCompetitions";
@import "./competitionCard";
@import "./competition";
@import "./enterCompetition";
@import "./adminBanners";
@import "./home";

