@import "../variables";

.challenge {
  width: 260px;
  background: $white;
  padding: 22px 10px 90px 10px;
  cursor: pointer;

  margin-bottom: 30px;

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;

    span {
      color: #293045;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.6px;
    }
  }

  &__solved {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: right;
    color: #028529 !important;
  }

  &__checkmark {
    padding-right: 5px;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    word-break: break-word;
    margin-top: 30px;
    color: #293045;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.6px;
  }

  &__buttons {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    padding: 4px 5px;
    background: transparent;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    cursor: pointer;

    &-edit {
      color: #16965a;
    }

    &-delete {
      color: #c02a35;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}