@import "../variables";

.practice {
  &__page {
    background: #76A0E0;
    padding: 20px 50px;
    color: $white;

    &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    background: $white;
    border-radius: 5px;

    &-block {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-l {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.6px;
      color: #001629;
    }

    &-r {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #001629;
    }
  }

  &__progress {
    margin-top: 30px;
    background: $white;
    border-radius: 5px;
    padding: 13px 15px 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-icon {
      width: 25px;
    }

    &-title {
      font-size: 20px;
      margin-left: 5px;
      letter-spacing: 0.6px;
    }
  }

  &__main {
    margin-top: 28px;
    display: flex;
    align-items: flex-start;
  }

  &__challenges {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0;

    &-error {
      margin-top: 30px;
      width: 500px;
      letter-spacing: 1.5px;
      font-size: 17px;
      color: #354675;
    }
  }
}