@import './components/all.scss';
@import './libs/normalize.scss';
@import './variables';
@import './components/all';

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background: #ecf3f3;
}


.Backdrop {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5px);
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1500px;
}

.container-lg {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1600px;
}

.container-sm {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1400px;
}

.container-s {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1250px;
}

.container-xs {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 900px;
}

.container-practice {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1150px;
}

.custom-file-upload {
    width: 200px !important;
    border: 1px solid #969696;
    cursor: pointer;
    padding: 6px 0;
    text-align: center;
}

.custom-file-input {
    display: none;
}


.main {
    flex: 1 1 auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #737373;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    transition: all 10s;
}

::-webkit-scrollbar-thumb:hover {
    background: #2a2a2a;
}

.clickable {
    cursor: pointer;
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #ffffff inset !important;
}
